#tabs ul {
    list-style: none;    
}
#tabs ul li {
    width: 50px;   
    display: inline-block; 
    border: 1px solid black; /* Placeholder for layout */  
    background-color: white;
}
#widgetContainer {
    width: 100%;
    border: 5px solid black; /* Placeholder for layout */ 
    -moz-border-radius: 5px 5px 5px 5px;
     border-radius: 5px 5px 5px 5px;  
    margin: 0px auto;
    height: 1024px;   
    background-color: white; 
}
