#tabs {
    height: 50px; 
    text-align: left;   
}
#tabs ul {
    list-style: none;    
}
#tabs ul li {
    width: 50px;   
    display: inline-block; 
    border: 1px solid black; /* Placeholder for layout */  
}
#widgetContainer {
    width: 100%;
    border: 1px solid black; /* Placeholder for layout */   
    margin: 20px auto;
    height: 1000px;    
}
