#tabs { position:relative; margin:0; height:100%; width:100%; margin-top:25px; }

/* Prevents widget parent container from extending too far down */
.ui-tabs-panel { position:absolute; bottom:0; right:0; height:100%; width:100%; margin:0 !important; padding:0 !important; }
 
#tabs li .ui-icon-close { position:absolute; top:0; right:0; margin-right:0 !important; }    /* Stop close button on tabs from wrapping */
.ui-tabs-nav { height:43px !important; }                                                     /* Stop tab nav panel from resizing when tabs are moved */ 
.ui-tabs-nav, .ui-state-default { z-index:99; }                                              /* Make sure tabs are always on top */

#tabs li { width:0; overflow:hidden; max-width:170px; }

#tabs a { width:100%; }

.ui-tabs-nav li { position:relative; margin:1px 0 0 0 !important; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity:1 !important; }

#add_tab_button { width:56px !important; }