/* Widget Container */
.widget { width:142px; height:122px; border:2px solid black; margin:4px; padding-top:22px; }

/* Widget Header */
.WidgetHeader {
  position:relative;
  top:-22px;
  cursor:move;
  height:20px;
  line-height:20px;
  text-align:left;
  padding-left:6px;
  color:White;
  border-bottom:2px solid Black;
}

/* Widget Content */
.WidgetMain { position:relative; top:-22px; height:100%; }

/* Widget Header Colours */
.Green { background-color:Green; }
.Red { background-color:Red; }

.close-widget-button {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 13px;
  width: 13px;
  background: url('../img/close.png') no-repeat;
  cursor: pointer;
  border: none;
}