html, body { height:100%; margin: 0; padding: 0; text-align: center; }
.widget {
     width: 142px;
     height: 122px; 
     border: 2px solid black; 
     margin: 4px; 
     padding-top: 22px;
}
.layout_area { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
      
/* Widget Header */
.WidgetHeader {
    position: relative;
    top: -22px;
	  cursor: move;
	  height: 20px;
	  line-height: 20px;
	  text-align: left;
	  padding-left: 6px;
	  color: White;
	  /*font-weight: bold;*/
	  border-bottom: 2px solid Black;
}
	    
.WidgetMain {
    position: relative;
    top: -22px;
    height: 100%;
}
      
/* Widget Header Colours */
.Green {
     background-color:Green;
}

#container {
    width: 940px;  
    text-align: center; 
    margin: 20px auto;
}
#header {
    width: 100%;    
    height: 100px;
    border: 3px solid black;
}
/* Start of Header */
#title {
    border: 1px solid black; /* Placeholder for layout */
    width: 400px; /* Placeholder for layout */
    float:left;
}
    /* Search Bar Styling */
    #searchBar {
        float: left;
        margin-left:20px;
        margin-top: 10px;
    }

    #searchBox
    {
	    background: #333;
	    background-image: -moz-linear-gradient(#333, #999);
	    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #999),color-stop(1, #333));
	
	    -moz-border-radius: 35px;
	    border-radius: 35px;
	
	    border-width: 3px;
	    border-style: solid;
	    border-color: #c4d9df #a4c3ca #83afb7;            
	    width: 100%;
	    height: 35px;
	    overflow: hidden; /* Clear floats */
    }

    #search, #submit
    {
	    float: left;
    }

    #search
    {
	    padding: 5px 9px;
	    height: 23px;
	    width: 60%;
	    border: 1px solid #a4c3ca;
	    font: normal 13px 'trebuchet MS', arial, helvetica;
	    background: #f1f1f1;
	
	    -moz-border-radius: 50px 3px 3px 50px;
	     border-radius: 50px 3px 3px 50px;
	     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
    }

    #submitSearch
    {		
	    background: #6cbb6b;
	    background-image: -moz-linear-gradient(#FFF, #d4e8ec);
	    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #FFF));
	
	    -moz-border-radius: 2px 50px 50px 2px;
	    border-radius: 2px 50px 50px 2px;
	
	    border-width: 1px;
	    border-style: solid;
	    border-color: #7eba7c #578e57 #447d43;
	    height: 100%;
        padding: 0;
	    width: 30%;
	    cursor: pointer;
	    font: bold 14px Arial, Helvetica;
	    color: #23441e;
	
	    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

    #submitSearch:hover
    {		
	    background: #95d788;
	    background-image: -moz-linear-gradient(#d4e8ec, #FFF);
	    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #FFF),color-stop(1, #d4e8ec));
    }	

    #submitSearch:active
    {		
	    background: #FFF;
	    outline: none;		
    }

    #submitSearch::-moz-focus-inner
    {
           border: 0;  /* Small centering fix for Firefox */
    }	


    /* End of Search Styling */


    /* Login Menu Styling */

    #login {
        float:left;
        margin-left:20px;
        margin-top: 10px;
        width:150px; /* Placeholder for layout */
    }

    #loginHeader
    {
        text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5); 
        text-transform: uppercase;
        color: #666;
        letter-spacing: 1px;
        font: normal 20px/1 Verdana, Helvetica;
        position: relative;
    }

    #inputs input
    {
        width: 350px;
        border: 1px solid #ccc;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
        box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    }

    /* End of login styling */


    /* Settings Menu Styling */
    
    #settings {
        margin:10px 0 0 0;
        float:left;
    }

    /* End of setting styling */

/* End of Header */
#tabs {
    height: 50px; 
    text-align: left;   
}
#tabs ul {
    list-style: none;    
}
#tabs ul li {
    width: 50px;   
    display: inline-block; 
    border: 1px solid black; /* Placeholder for layout */  
}
#widgetContainer {
    width: 100%;
    border: 1px solid black; /* Placeholder for layout */   
    margin: 20px auto;
    height: 1000px;    
}
